# These are the target ProxMox servers you want to configure
# Example:
#
# [monitoring_node]
# server1  ansible_host=<YOUR-WEB-SERVER-IP>
# server2  ansible_host=<YOUR-WEB-SERVER-IP>
#
# [client_nodes]
# server1  ansible_host=<YOUR-WEB-SERVER-IP>
# server2  ansible_host=<YOUR-WEB-SERVER-IP> 
#
# [client_node_fqdn]
# server1.domain.com
# server2.domain.com

