- name: Update Prometheus configuration File with Nodes
  blockinfile:
    path: /etc/prometheus/prometheus.yml
    block: |
        - job_name: "remote_collector"
          scrape_interval: 10s
          static_configs:
            - targets: ["{{ item.ip }}:9100"]
    markers: 
        begin: "##### BEGIN BLOCK #####"
        end: "##### END BLOCK #####"
    backup: yes
    state: present
  loop:
    - { ip: {{ ansible_host }} }