- name: Update Prometheus configuration File with Nodes
  blockinfile:
    path: /etc/prometheus/prometheus.yml
    block: |
        - job_name: "remote_collector"
          scrape_interval: 10s
          static_configs:
            - targets:
        {% for server in groups [ansible_host] %}
            - '{{ server }}:9100'
        {% endfor %}
    markers: 
        begin: "#### BEGIN BLOCK ####"
        end: "#### END BLOCK ####"
    backup: yes
    state: present