- name: Update Prometheus configuration File with Nodes
  vars: 
    groups:
      - ansible_host
  blockinfile:
    path: /etc/prometheus/prometheus.yml
    block: |
        - job_name: "remote_collector"
          scrape_interval: 10s
          static_configs:
            - targets:
        {% for server in groups %}
            - '{{ server }}:9100'
        {% endfor %}
    marker: "# {mark} ANSIBLE MANAGED BLOCK "
    backup: yes
    state: present
