- name: Update Prometheus configuration File with Nodes
  blockinfile:
    path: /etc/prometheus/prometheus.yml
    block: |
        - job_name: "remote_collector"
          scrape_interval: 10s
          static_configs:
            - targets:
        {% for server in groups [prometheus_node_exporter_group] %}
              - '{{ server }}:9100'
        {% endfor %}
    marker: "# {mark} ANSIBLE MANAGED BLOCK "
    backup: yes
    state: present

- name: Restart Prometheus 
  systemd: 
    name: prometheus
    state: started